<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <title>Commenting System</title>
    </head>
    <body>
        <div class="container">
            <form method="post" action="/">
                <input type="text" name="auth" class="form-group form-control" required placeholder="Name"><br>
                <textarea name="txtcom" class="form-group form-control" required placeholder="Type a Comment..."></textarea><br>
                <button type="submit" class="btn btn-primary" style="background-color:red; margin-left:72.5em"><strong>Post Comment</strong></button><br>
            </form>
        </div>
    </body>
</html>